html,
body {
    height: 100%;
    width: 100%;
}


.bg-custom {
    background: rgb(238,238,238);
    background: -moz-linear-gradient(0deg, rgba(238,238,238,1) 3%, rgba(34,193,195,1) 71%);
    background: -webkit-linear-gradient(0deg, rgba(238,238,238,1) 3%, rgba(34,193,195,1) 71%);
    background: linear-gradient(0deg, rgba(238,238,238,1) 3%, rgba(34,193,195,1) 71%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeeeee",endColorstr="#22c1c3",GradientType=1);
}
